.header {
  color: gold;
  background-color: darkred;
  text-align: center;
}


body main {
  background-color: #D3D3D3;
  padding: 1em;
}

body{
  background-image: url('record.png');
    margin: 0;
}
